.frame {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 400px;
	height: 400px;
	margin-top: -200px;
	margin-left: -200px;
	border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
	overflow: hidden;
	background: #3faf82;
	color: #333;
	font-family: "Open Sans", Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.menu {
	position: relative;
	display: flex;
	flex-direction: column;
	/* gap: 10px; */
	width: 80px;
	height: 52px;
	justify-content: space-between;
}

.menu:hover {
	cursor: pointer;
}

.bar {
	width: 80px;
	height: 8px;
	background-color: #fff;
	border-radius: 3px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.top {
	animation: bar-top-rev 0.7s ease-in;
}

.top.animate {
	animation: bar-top 0.7s cubic-bezier(0.3, 1, 0.7, 1) forwards;
}
.middle {
	animation: bar-middle-rev 0.7s ease-in;
}
.middle.animate {
	animation: bar-middle 0.7s cubic-bezier(0.3, 1, 0.7, 1) forwards;
}
.bottom {
	animation: bar-bottom-rev 0.7s ease-in;
}

.bottom.animate {
	animation: bar-bottom 0.7s cubic-bezier(0.3, 1, 0.7, 1) forwards;
}

@keyframes bar-top {
	0% {
		transform: translateY(0) rotate(0);
	}

	50% {
		transform: translateY(22px) rotate(0);
	}

	100% {
		transform: translateY(22px) rotate(45deg);
	}
}

@keyframes bar-middle {
	0% {
		transfrom: scale(1);
		opacity: 1;
	}
	100% {
		transform: scale(0);
		opacity: 0;
	}
}

@keyframes bar-bottom {
	0% {
		transform: translateY(0) rotate(0);
	}

	50% {
		transform: translateY(-22px) rotate(0);
	}

	100% {
		transform: translateY(-22px) rotate(135deg);
	}
}


@keyframes bar-top-rev {
	0% {
		transform: translateY(22px) rotate(45deg);
	}
	50% {
		transform: translateY(22px) rotate(0);
	}
	100% {
		transform: translateY(0) rotate(0);
	}
}

@keyframes bar-middle-rev {
	0% {
		transform: scale(0);
		opacity: 0;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}

@keyframes bar-bottom-rev {
	0% {
		transform: translateY(-22px) rotate(135deg);
	}
	50% {
		transform: translateY(-22px) rotate(0);
	}
	100% {
		transform: translateY(0) rotate(0);
	}
}
