.form{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  box-shadow: 5px 0 20px 5px gray;
  background: black;
}

.center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menu{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menu:hover{
  cursor: pointer;
}

.bar-one,
.bar-two,
.bar-three {
  background: white;
  width: 80px;
  height: 5px;
  border-radius: 5px;
  margin-top: 10px;
}

.bar-one {
  animation: bar-top-rev 0.7s cubic-bezier(0.3, 1, 0.7, 1) forwards;
}

.bar-one.animation{
  animation: bar-top 0.7s  ease-in-out;
}

@keyframes bar-top-rev{
  0%{
    transform: translateY(0) rotate(0);
  }

  50% {
    transform: translateY(22px) rotate(0);
  }

  100% {
    transform: translateY(22px) rotate(45deg);
  }
}

@keyframes bar-top {
  0%{
    transform: translateY(22px) rotate(45deg);
  }

  50%{
    transform: translateY(22px) rotate(0);
  }

  100% {
    transform: translateY(0) rotate(0);
  }
}

.bar-three{
  animation: bar-bottom-rev 0.7s cubic-bezier(0.3, 1, 0.7, 1) forwards;
}

.bar-three.animation {
  animation: bar-bottom 0.7s ease-in;
}

@keyframes bar-bottom-rev{
  0%{
    transform: translateY(0) rotate(0);
  }

  50% {
    transform: translateY(-22px) rotate(0);
  }

  100% {
    transform: translateY(-22px) rotate(-45deg);
  }
}

@keyframes bar-bottom{
  0%{
    transform: translateY(-22px) rotate(-45deg);
  }

  50%{
    transform: translateY(-22px) rotate(0);
  }

  100%{
    transform: translateY(0) rotate(0);
  }
}

.bar-two {
  animation: bar-mid-rev 0.7s cubic-bezier(0.3, 1, 0.7, 1) forwards;
}

.bar-two.animation {
  animation: bar-mid 0.7s ease-in;
}

@keyframes bar-mid-rev {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    transform: scale(0);
    opacity: 0;
  }
}

@keyframes bar-mid {
  0% {
    transform: scale(1);
    opacity: 0;
  }

  100%{
    transform: scale(0);
    opacity: 0;
  }
}