.frame{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 1px;
  box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
  background: #43389f;
  background: -webkit-linear-gradient(bottom left, #43389f 0%, #4ec6ca 100%, #43389f);
 /* background: linear-gradient(to top-right, #43389f 0%, #4ec6ca 100%); */
  font-family: 'Courier New', 'Courier', sans-serif;
  color: #fff;
}

.center {
  position: absolute;
  top: 50.8%;
  left: 50.5%;
  transform: translate(-50%, -50%);
}

.number {
  position: relative;
  height: 100px;
  width: 200px;
}

.one-one {
  position: absolute;
  z-index: 1;
  background: #fff;
  box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.2);
  top: 0;
  left: -16px;
  height: 40px;
  width: 20px;
  border-radius: 3px;
  transform: rotate(50deg);
}

.one-two{
  position: absolute;
  z-index: 10;
  background-color: white;
  height: 100px;
  width: 24px;
  top: 0;
  left: 0;
  border-radius: 3px;
  box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.2);
}

.zero-one,
.zero-two {
  position: absolute;
  z-index: 8;
  height: 100px;
  width: 100px;
  border: 24px solid #fff;
  top: 0;
  left: 17px;
  box-sizing: border-box;
  border-radius: 50%;
  box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.2);
}

.zero-two {
  z-index: 6;
  left: 100px;
}

.big {
  position: relative;
  z-index: 20;
  display: block;
  font-size: 82px;
  line-height: 60px;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 6px;
}

.small{
  position: relative;
  z-index: 20;
  display: block;
  font-size: 23px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: .04em;
}