.container{ 
  position: absolute;  
  top: 50%;
  left: 50%;
  /* background: rgb(74, 21, 21); */
  width: 400px;
  height: 500px;
  margin-left: -200px;
  margin-top: -300px;
  box-shadow: 20px 15px 17px 10px gray;
  /* background: -webkit-linear-gradient(top left, black 10%, red 50%, black); */
  background: linear-gradient(180deg, rgb(235, 143, 159), rgba(0, 0, 0, 0.652));
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(72, 70, 70);
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50%;
  flex-direction: column;
}

.number{
  position: relative;
  width: 100px;
  height: 100px;
}

.one-vertical{
  width: 20px;
  height: 50px;
  transform: rotate(57deg);
  position: absolute;
  background: rgba(249, 33, 33);
  z-index: 1;
  top: -1px;
  left: -20px;
  border-radius: 3px;
}

.one-horizontal {
  width: 20px;
  height: 95px;
  background: rgba(249, 33, 33);
  z-index: 5;
  position: absolute;
  top: 4px;
  border-radius: 3px;
}

.first-zero,
.second-zero {
  position: absolute;
  z-index: 8;
  height: 50px;
  width: 50px;
  border: 24px solid rgba(249, 33, 33);
  top: 0;
  left: 17px;
  border-radius: 50%;
}

.second-zero{
  z-index: 6;
  left: 110px;
}

.big{
  position: relative;
  z-index: 15;
  display: block;
  font-size: 85px;
  line-height: 60px;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 10px;
  margin-left: 90px;
}

.small{
  position: relative;
  z-index: 20;
  font-weight: 700;
  display: block;
  text-transform: uppercase;
  font-size: 37px;
}